
exits {
    position: relative;
    --exitSize      : 26vmin;
    --gradientSize  : 45%;
    // --arrowPath:'m40 30h50l-20 20l50 50l-20 20l-50 -50l-20 20v-50';
}

.exit {
    position        : absolute;
    overflow        : hidden;
    transform-origin: left top;

    &:before,
    &:after {
        content      : '';
        display      : block;
        position     : absolute;
        left         : -50%;
        top          : -50%;
        width        : 100%;
        aspect-ratio : 1;
        border-radius: 50%;
        border       : 1vmin solid var(--exitColor);
        animation    : ripple 6s ease-out infinite forwards;
        opacity      : 0;
    }

    &:after {
        animation-delay: 3s;
    }

    @keyframes ripple {
        0% {
            opacity  : 0;
            transform: scale3d(1.2, 1.2, 1);
        }

        50% {
            opacity: 0.5;
        }

        100% {
            opacity  : 0.3;
            transform: scale3d(0, 0, 1);
        }
    }

    .isMobile & {
        --gradientSize: 60%;
    }

    width           : var(--exitSize);
    height          : var(--exitSize);
    background-image: radial-gradient(at top left, var(--exitColor), transparent var(--gradientSize));
    transition      : transform 200ms ease-in-out;
    filter          : blur(.5vmin);

}

.arrow {
    position        : absolute;
    inset           : 0;
    background-color: var(--boardColor);
    clip-path       : path(var(--arrowPath));
    opacity         : .4;
}
