.exit {
    --exitSize: 20vmin;
    position  : absolute;
    width     : var(--exitSize);
    height    : var(--exitSize);
    transform : rotate(var(--angle, 45deg));
    background: radial-gradient(at top left, lime, transparent 50%);
    filter    : blur(1vmin);

    &.exit-0 {
        --angle: 135deg;
        top    : calc(~"50% - 4.5vmin");
        left   : calc(~"100% - 20vmin");
    }

    &.exit-1 {
        --angle: 225deg;
        top    : calc(~"100% - 20vmin");
        left   : calc(~"50% - 4.5vmin");
    }

    &.exit-2 {
        --angle: 315deg;
        top    : calc(~"50% - 4.5vmin");
        left   : 0;
    }

    &.exit-3 {
        --angle: 45deg;
        top    : 0;
        left   : calc(~"50% - 4.5vmin");
    }
}
