score {
    width          : 100%;
    height         : 10vmin;
    display        : flex;
    justify-content: space-between;
    align-items    : center;

    .isMobile & {
        padding-inline: 2vmin;
    }

    h2,
    h3 {
        color      : var(--white);
        font-family: 'Bungee Hairline';
        font-size  : 8vmin;

        span {
            display         : inline-block;
            background-color: black;
        }
    }

    h3 {
        font-size: 4vmin;
        cursor   : pointer;

        .isMobile & {
            font-size: 5vmin;
        }
    }
}
