score {
    width          : 100%;
    display        : flex;
    justify-content: space-between;
    align-items    : center;

    h2,
    h3 {
        color      : var(--white);
        margin     : 1vmin;
        font-family: 'Bungee Hairline';
        font-size  : 10vmin;
    }

    h3 {
        font-size: 7vmin;
        cursor   : pointer;
    }
}
