footer {
    position       : relative;
    width          : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;

    h3 {
        font-family: Bungee Hairline;
        font-size  : 4vmin;
        text-align : center;
        color      : var(--white);
        opacity    : 1;
        transition : opacity 5s ease;
        margin     : 3.5vmin 0 0;
        cursor     : pointer;

        .green {
            font-family: Bungee Outline;
            color      : var(--exitColor);
        }

        &.hidden {
            opacity: 0;
        }

        .isMobile & {
            font-size: 5vmin;
        }
    }
}
