footer {
    width          : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;

    h3 {
        font-family: Bungee Hairline;
        font-size  : 4vmin;
        color      : var(--white);
        font-size  : 3vmin;
        margin     : 3.5vmin 0 0;
        cursor     : pointer;
        opacity    : 1;
        transition : opacity 5s ease;

        .isMobile & {
            font-size: 5vmin;
        }

        &.hidden {
            opacity: 0;
        }
    }
}
