van-faassen {
    position         : absolute;
    width            : 4.5vmin;
    height           : 4.5vmin;
    background-image : url(./baardman.webp);
    background-repeat: no-repeat;
    background-size  : cover;

    &.hi {
        animation: sayHi 300ms ease-out forwards;
    }
}

@keyframes sayHi {
    0% {
        transform: scale3d(1, 1, 1) rotate(0);
    }

    50% {
        transform                 : scale3d(2.7, 2.7, 1) rotate(13deg);
        transition-timing-function: ease-in;
    }

    100% {
        transform: scale3d(1, 1, 1) rotate(0);
    }
}
