.powerUp {
    position           : absolute;
    left               : 0;
    top                : 0;
    display            : block;
    width              : var(--blockSize);
    aspect-ratio       : 1;
    background-repeat  : no-repeat;
    background-position: center;
    background-size    : contain;

    &--gold {
        background-image: url(./gold.png);
    }
}
