board {
    --boardColor   : #1e1e1e;
    aspect-ratio   : 1;
    position       : relative;
    display        : flex;
    align-items    : stretch;
    justify-content: stretch;
    position       : relative;
    width          : 80vmin;
    height         : 80vmin;
    background     : var(--boardColor);
    overflow       : hidden;

    .isMobile & {
        width : 100vmin;
        height: 100vmin;
    }
}
