game-start {
    position: absolute;
    width   : 100%;
    height  : 100%;

    .clickCatcher {
        position       : absolute;
        width          : 100%;
        height         : 100%;
        display        : flex;
        flex-direction : column;
        align-items    : center;
        justify-content: center;
    }

    h1,
    h2,
    h3 {
        color      : var(--white);
        margin     : 5vmin 0;
        font-family: 'Bungee Hairline';
    }

    h1 {
        font-size: 15vmin;
    }

    h2 {
        font-size: 10vmin;
    }

    h3 {
        font-size  : 5vmin;
        font-family: 'Bungee Outline';
    }
}
