.pusher {
    position     : absolute;
    background   : crimson;
    width        : var(--blockSize);
    height       : var(--blockSize);
    border-radius: 1in;
    transition   : all 300ms ease-in-out;
}
