body,
html {
    width           : 100%;
    height          : 100%;
    margin          : 0;
    background-color: black;
}

body {
    --white              : antiquewhite;
    --exitColor          : lime;
    --maxWidth           : 80vmin;
    display              : flex;
    flex-direction       : column;
    align-items          : center;
    max-width            : var(--maxWidth);
    margin               : auto;
    background-blend-mode: multiply;
}
